.order-content-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-width: 1920px;
}

.order-content {
  width: calc(100% - 300px);
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.restaurant-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.description {
  padding: 8px;
  color:black;
}

.restaurant-container-evaluation {
  color: rgba(255, 128, 0, 0.918);
}

.choice-of-dishes {
  background-color: rgb(255, 128, 0);
  padding: 8px;
  display: flex;
  gap: 16px;
}

.choice-of-dishes button {
  border: none;
  font-size: 24px;
  background-color: rgb(255, 128, 0);
  padding: 0;
}

.choice-of-dishes button a:hover {
  background-color: rgba(255, 128, 0, 0.918);
  color: white;
}

.template {
  
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  border: 1px solid rgb(255, 128, 0);
  border-radius: 4px;
  padding: 4px;
}

.template:hover {
  cursor: pointer;
}

.template-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

.template-headline {
  font-size: 20px;
  margin-bottom: 16px;
}

.hidden-menu {
  background-color:  rgb(255, 128, 0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  z-index: 4;
  width: 180px;
  height: 100px;
  position: fixed;
  top: 10vh;
  right: 0px;
  transform: translateX(0%);
  transition: 0.5s;
  font-size: large;
  border-bottom-left-radius: 4px;
  
  
}

.hidden-menu li::marker {
  color: white;
}

.closed-menu {
  transform: translateX(100%);
  transition: 0.5s;
  
}
