.order-content-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-width: 1920px;
}

.order-content {
  width: calc(100% - 300px);
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.restaurant-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.restaurant-container p {
  color: rgb(255, 128, 0);
}

.choice-of-dishes {
  width: 100%;
  background-color: rgb(146, 145, 145);
  padding: 8px;
  display: flex;
  gap: 16px;
}

.choice-of-dishes button {
  border: none;
  font-size: 24px;
  background-color: rgb(146, 145, 145);
  color: white;
  padding: 0;
}

.choice-of-dishes button:hover {
  background-color: rgba(255, 128, 0, 0.918);
  border-radius: 10px;
}

.dishes-container {
  padding: 8px;
}

.test-container {
  background-color: brown;
  height: 1500px;
}

.burger-template {
  
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  border: 1px solid grey;
  padding: 4px;
}

.template-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.template-content {
}

.template-button-container {
}
