.order-content-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.order-content {
  width: calc(100% - 300px);
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.order-basket {
  width: 300px;
  background-color: blueviolet;
  flex-grow: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.restaurant-container {
    position: relative;
    display: flex;
    flex-direction: column;

}

.test-container {
  background-color: brown;
  height: 1500px;
  
}
