.img-logo {
    width: 180px;
    height: 180px;
    margin-left: 32px;
}

.img-burger-menu {
    width: 40px;
    height: 40px;
    filter: invert(1);
    margin-right: 32px;
}

.burger-menu-button {
    border: none;
    cursor: pointer;
    background-color: rgb(255, 128, 0);
}

.burger-menu-button img:hover {
    filter: invert(0);
    transition: 100ms;
}

.burger-restaurant-background {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}
.burger-restaurant-logo {
   margin-top: 20vh;
   transform: translateY(-95px);
}

.burger-section-img {
    width: 100%;
    height: 10vh;
    object-fit: cover;
}

.burger-restaurant-logo-container {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}