.img-logo {
  width: 180px;
  height: 180px;
  margin-left: 32px;
}

.img-burger-menu {
  width: 40px;
  height: 40px;
  filter: invert(1);
  margin-right: 32px;
}

.burger-menu-button {
  border: none;
  cursor: pointer;
  background-color: rgb(255, 128, 0);
  transition: transform 0.2s ease;
}

.burger-menu-button img:hover {
  filter: invert(0);
  transition: 100ms;
  transform: scale(1.2);
}

.burger-restaurant-background {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}
.burger-restaurant-logo {
    width: 120px;
  margin-top: 20vh;
  transform: translateY(-15px);
  background-color: white;
  border-radius: 50%;
  
}

.section-img {
  width: 100%;
  height: 15vh;
  object-fit: cover;
}

.burger-restaurant-logo-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delivery-button {
  margin-top: 8px;
  margin-bottom: 8px;
  color: white;
  background-color: rgb(255, 128, 0);
  box-shadow: 0 3px #999;
  transition: all 0.1s ease;
}

.delivery-button:hover {
  color: black;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.order-button {
  margin-top: 8px;
  margin-bottom: 8px;
  color: black;
  background-color: rgb(255, 128, 0);
  font-size: larger;
  box-shadow: 0 3px #999;
  transition: all 0.1s ease;
}

.order-button:hover {
  color: white;
  box-shadow: 0 1px #666;
  transform: translateY(4px); 
}
