@keyframes rotationY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

:root {
  --primary-color1: rgb(255, 128, 0);
  --primary-color2: rgb(245, 245, 245);
  --primary-color3: rgb(255, 249, 240);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color1);
}

.img-logo {
  width: 180px;
  height: 180px;
  margin-left: 32px;
}

.img-burger-menu {
  width: 40px;
  height: 40px;
  filter: invert(1);
  margin-right: 32px;
}

.burger-menu-button {
  border: none;
  cursor: pointer;
  background-color: var(--primary-color1);
  transition: transform 0.2s ease;
}

.burger-menu-button img:hover {
  filter: invert(0);
  transition: 100ms;
  transform: scale(1.2);
}

.burger-restaurant-background {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.burger-restaurant-logo {
  width: 120px;
  margin-top: 295px;
  border-radius: 50%;
  animation: rotationY 4s linear infinite;
  transform-style: preserve-3d;
}

.section-img {
  width: 100%;
  height: 15vh;
  object-fit: cover;
}

.choice-of-dishes button {
  border: none;
  font-size: 24px;
  background-color: var(--primary-color1);
  padding: 0;
}

.burger-restaurant-logo-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

.delivery-button {
  margin-top: 8px;
  margin-bottom: 8px;
  color: black;
  background-color: var(--primary-color1);
  box-shadow: 0 3px #999;
  transition: all 0.1s ease;
}

.delivery-button:hover {
  color: white;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.order-button {
  margin-top: 8px;
  margin-bottom: 8px;
  color: black;
  background-color: var(--primary-color1);
  font-size: larger;
  box-shadow: 0 3px #999;
  transition: all 0.1s ease;
}

.order-button:hover {
  color: white;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.basket-mobile-button {
  position: sticky;
  bottom: 0;
  margin: 8px;
  color: white;
  background-color: var(--primary-color1);
  font-size: 28px;
  box-shadow: 0 3px #999;
  transition: all 0.1s ease;
}

.basket-mobile-button:hover {
  color: black;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.hide-content {
  display: none;
}

@media (max-width: 850px) {
  .burger-restaurant-logo {
    width: 80px;
    margin-top: 315px;
  }
}

@media (min-width: 650px) {
  .basket-mobile-button {
    display: none;
  }
}
