:root {
  --primary-color1: rgb(255, 128, 0);
  --primary-color2: rgb(245, 245, 245);
  --primary-color3: rgb(255, 249, 240);
}

.order-basket {
  width: 300px;
  background-color: var(--primary-color3);
  flex-grow: 1;
  z-index: 3;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.basket {
    width: 100%;
    background-color: var(--primary-color3);
    position: sticky;
    top: 10vh;
    text-align: center;
}

.basket-content {
  max-height: 400px;
  overflow: auto;
}

.basket h2 {
  padding-bottom: 8px;
  border-bottom: 2px solid rgb(187 187 187 / 45%);
}

.sum-cost-container {
    border-top: 2px solid rgb(187 187 187 / 45%);
}

.basket-template {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.basket-content h4 {
  text-align: start;
  margin-left: 16px;
}

.sum-cost-container table {
  width: 100%;
  text-align: start;
}

@media (max-width: 650px) {
  .order-basket {
    display: none;
  }
}
