.order-basket {
  width: 300px;
  background-color: #FFF9F0;
  flex-grow: 1;
  z-index: 3;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.basket {
    width: 100%;
    min-height: 400px;
    background-color: #FFF9F0;
    position: sticky;
    top: 10vh;
    text-align: center;
}

.basket h2 {
  padding-bottom: 8px;
  border-bottom: 2px solid rgb(187 187 187 / 45%);
}

.sum-cost-container {
    border-top: 2px solid rgb(187 187 187 / 45%);
}

.basket-template {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.basket-content h4 {
  text-align: start;
  margin-left: 16px;
}

.sum-cost-container table {
  width: 100%;
  text-align: start;
}
