.order-basket {
  width: 300px;
  background-color: whitesmoke;
  flex-grow: 1;
  z-index: 3;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.basket {
    width: 100%;
    height: 400px;
    background-color: whitesmoke;
    position: sticky;
    top: 0;
    text-align: center;
}

.sum-cost-container {
    border-top: 2px solid rgb(187 187 187 / 45%);
}