body {
  width: 100%;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 10vh;
  background-color: rgb(255, 128, 0);
  display: flex;
  justify-content: center;
}

.header-container {
  max-width: 1920px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  min-height: 80vh;
  display: flex;
  justify-content: center;
}

nav {
  z-index: 2;
}

footer {
  height: 10vh;
  background-color: rgb(255, 128, 0);
  display: flex;
  justify-content: center;
}

.footer-container {
  max-width: 1920px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

h2, h3, h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  
}

