html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Inter", sans-serif;
}

header {
  height: 10vh;
  background-color: rgb(255, 128, 0);
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 4;
}

.header-container {
  max-width: 1920px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  min-height: 80vh;
  display: flex;
  justify-content: center;
}

nav {
  z-index: 2;
}

footer {
  height: 10vh;
  background-color: rgb(255, 128, 0);
  display: flex;
  justify-content: center;
}

.footer-container {
  max-width: 1920px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

h2,
h3,
h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
    color: rgb(255, 128, 0);
    font-size: large;
    border: 2px solid rgb(255, 128, 0);
    border-radius: 4px;
    
}

p {
  font-size: medium;
}
