:root {
  --primary-color1: rgb(255, 128, 0);
  --primary-color2: rgb(245, 245, 245);
  --primary-color3: rgb(255, 249, 240);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Inter", sans-serif;
}

header {
  height: 10vh;
  background-color: var(--primary-color1);
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 4;
}

.header-container {
  max-width: 1920px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  min-height: 80vh;
  display: flex;
  justify-content: center;
}

.main-basket-size {
min-height: 90vh;
}

footer {
  height: 10vh;
  background-color: var(--primary-color1);
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer-container {
  max-width: 1920px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

h2,
h3,
h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

button {
    color: var(--primary-color1);
    font-family: "Inter", sans-serif;
    font-size: large;
    border: 2px solid var(--primary-color1);
    border-radius: 4px;
    cursor: pointer;
}

p {
  font-size: medium;
}
