body {
  width: 100%;
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 10vh;
  background-color: rgb(255, 128, 0);
  display: flex;
  justify-content: center;
}

.header-container {
  max-width: 1440px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  min-height: 80vh;
}

footer {
  height: 10vh;
  background-color: rgb(255, 128, 0);
}
